@font-face {
  font-family: Avenir next;
  src: url(/src/fonts/AvenirNextLTPro-Regular.otf);
}
* {
  margin: 0px;
  padding: 0px;
  font-family: Avenir next;
}

body {
  margin-left: 60px;
  margin-top: 40px;
  background-color: #e1e8ed;
}
