@font-face {
  font-family: Avenir next;
  src: url(/src/assets/fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: AvenirBold;
  src: url(/src/assets/fonts/AvenirNextLTPro-Bold.otf);
}

@font-face {
  font-family: AvenirItalic;
  src: url(/src/assets/fonts/AvenirNextLTPro-It.otf);
}
* {
  margin: 0px;
  padding: 0px;
  font-family: Avenir next;
}

body {
  margin-left: 60px;
  margin-top: 40px;
  background-color: #e1e8ed;
}

.lampada {
  position: absolute;
  z-index: -1;
  left: 47.92%;
  right: 4.72%;
  top: 52.67%;
  bottom: 1.78%;
}
